<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://mongofunction20200409150135.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/f1696c6d-fe86-4a8c-8f7a-954f22f52ca1/resourceGroups/MyFirst/providers/Microsoft.Web/sites/MongoFunction20200409150135</ResourceId>
    <UserName>$MongoFunction20200409150135</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://mongofunction20200409150135.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>